/* ------------ CSS VARIABLES ----------------- */
:root {
    --clr-text-dark: #000000;
    --clr-text-light: #ffffff;
    --clr-background-light: #ffffff;
    --clr-background-dark: #000000;
    --clr-primary: #107535;
    --clr-section-divider: #cccccc;

    --font-paragraphs: 'Poppins', sans-serif;
    --font-hero-accent: 'Trebuchet MS', sans-serif;
    --font-section__title: 'Montserrat', sans-serif;
    --font-accent: 'Mohave', sans-serif;
}
/* -------------- COLOR ASSIGNMENTS -------------------------------*/
.primary-color {
    color:var(--clr-primary);

}
/* -------------- GENERAL CSS ------------------------------------ */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}
html, body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--clr-background-light);
    font-family: var(--font-paragraphs);
    font-size: 16px;
    /* overflow-x: hidden; */
}
a {
    text-decoration: none;
    color:var(--clr-text-dark);
}
p {
    font-family: var(--font-paragraphs);
    font-weight: 300;
    margin: 0 auto; /* delete if main width is 90%*/
}
label {
    display: block;
}
input[type=submit], 
input[type=button], 
input[type=text], 
input[type=email], 
textarea {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -webkit-appearance: none ;
}
main {
    width: 100%; /*alternative is 90%*/
    margin: 0 auto;
    text-align: center; /*could use 'justify' as well*/
    position: relative;
    top: min(15vh, 5rem);
    animation: fadeIn .6s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}


/*
N     N    A    V     V     BBBBBB     A    RRRRRR
NN    N   A A   V     V     B     B   A A   R     R
N N   N  A   A   V   V      B     B  A   A  R     R
N  N  N AAAAAAA  V   V      BBBBBB  AAAAAAA RRRRRR
N   N N A     A   V V       B     B A     A R   R
N    NN A     A   V V       B     B A     A R    R
N     N A     A    V        BBBBBB  A     A R     R 

---------navigation bar (MOBILE) ---------------------------------*/
.header {
    position: fixed;
    background-color: var(--clr-background-light);
    width: 100%;
    height: min(15vh, 5rem);
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    /* gap: 1.7rem; */
    align-items: center;
    z-index: 9999;
    top: 0;
    left: 0;
}
.header-hide {
    transform: translateY(-100%);
    transition: transform .3s ease-in-out;
}
.header-show {
    transform: translateY(0);
    transition: transform .3s ease-in-out;
}
.header__flex-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 1.7rem;
    align-items: center;
    width: 100%;
}
.header-logo-link {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 1em;
}
.header-logo-link__image {
    width: 6.5em;
    height: auto;
}
.nav-checkbox {
    display: none;
}
.nav-icon {
    display: flex;
    align-items: center;
    width: 1.8rem;
   height: 2rem;
   margin-right: 1em;
}
.nav-icon:hover, .nav-icon:focus {
    cursor: pointer;
}
.nav-icon__hamburger, 
.nav-icon__hamburger::before, 
.nav-icon__hamburger::after {
    display: block;
    content: '';
    width: 1.8rem;
    height: .15rem;
    background-color: var(--clr-background-dark);
    position: relative;
}
.nav-icon__hamburger {
    transition: background .1s ease-out;
}
.nav-icon__hamburger::before {
    top: -.5rem;
    position: absolute;
    transition: all .2s ease-out;
}
.nav-icon__hamburger::after {
    top: .5rem;
    position: absolute;
    transition: all .2s ease-out;
}
.nav__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    /* gap: min(15vh, 3rem); */
    height: 90vh;
    top: min(15vh, 5rem);
    right: 0;
    width: 60%;
    position: absolute;
    padding: min(10vh, 3rem) 2rem;
    background: #107535fa;
    transform: scale(0,1);
    transform-origin: right;
    transition: transform .4s ease-in-out;
}
@supports (backdrop-filter: blur(.2rem)) {
    .nav__list {
        background: #000000e3;
        backdrop-filter: blur(.2rem); 
    }
}
.nav-checkbox:checked ~ .nav .nav__list {
    transform: scale(1,1);
}
.nav__list__item {
    opacity: 0;
    transition: opacity .1s ease-out ;
    margin-bottom: min(15vh, 3rem);
}
.nav__list__item__link {
    color: var(--clr-text-light);
    padding: .5em;
    font-size: 1.2rem;
}
.nav-checkbox:checked ~ .nav .nav__list .nav__list__item {
    opacity: 1;
    transition: opacity .3s ease-in-out .3s;

}
/*hamburger animation*/
.nav-checkbox:checked ~ .nav-icon .nav-icon__hamburger {
    background-color: transparent;
}
.nav-checkbox:checked ~ .nav-icon .nav-icon__hamburger:before {
    transform: rotate(-45deg);
    background-color: var(--clr-primary);
    top: 0;
}
.nav-checkbox:checked ~ .nav-icon .nav-icon__hamburger:after {
    transform: rotate(45deg);
    background-color: var(--clr-primary);
    top: 0;
}
/* 
BBBBBBB   U       U  TTTTTTTTT TTTTTTTTT   OOOOOOO   N     N
B      B  U       U      T         T      O       O  NN    N 
B      B  U       U      T         T      O       O  N N   N
BBBBBBB   U       U      T         T      O       O  N  N  N
B      B  U       U      T         T      O       O  N   N N
B      B   U     U       T         T      O       O  N    NN
BBBBBBB     UUUUU        T         T       OOOOOOO   N     N

----------BUTTONS-----------
*/
.donate-button, .header-donate-button {
    font-size: 1.8rem;
    border: solid 2px var(--clr-primary);
    background-color: var(--clr-primary);
    color:var(--clr-text-light);
    padding: .5em 1em .3em 1em;
    font-family: var(--font-accent);
    letter-spacing: .1rem;
    line-height: 1;
}
.donate-button:hover, 
.donate-button:focus, 
.header-donate-button:hover, 
.header-donate-button:focus {
    cursor: pointer;
    background-color: transparent;
    border: solid 2px var(--clr-primary);
    /* color:var(--clr-primary); */
    font-weight: 700;
    letter-spacing: .12rem;
    text-decoration: underline ;
    -webkit-border-radius:0px;
    -webkit-appearance: none ;
}
.header-donate-button {
    font-size: 1.7rem;
}
.nav__list__item__button {
    padding: .3em 1.4em;
    background-color: var(--clr-primary);
    border: 2px solid var(--clr-background-light);
    width: 8em;
    font-size: 1.4rem;
}
.header-donate-button {
    border: 2px solid var(--clr-background-light);
}
.hero-donate-button {
    margin: .5em 0 0 0;
}
/*
FFFFFFF  OOOOO   OOOOO   TTTTTTT EEEEEEE RRRRRR
F       O     O O     O     T    E       R     R
F       O     O O     O     T    E       R     R
FFFFF   O     O O     O     T    EEEEE   RRRRRR
F       O     O O     O     T    E       R   R
F       O     O O     O     T    E       R    R
F        OOOOO   OOOOO      T    EEEEEEE  R     R
--------- FOOTER -------------------------------*/
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /* gap: .1em; */
    background-color: var(--clr-background-light);
    margin: 1em 0em 0 0em;
    padding: 2em 0em 1em 0;
}
.footer__logo-contact-info-flex-wrapper {
    margin-bottom: 1em;
}
.footer__text {
    font-size: .8rem;
    padding: 0;
    margin: 1em 0 1em 0;
}
.footer__text-developer-container {
 text-align: center;
 width: 90%;
 margin: 0 auto;
}
.developer-tag {
    color: #636363;
}
/* ----------------- INDEX PAGE SPECIFIC CSS ---------------- 
IIIIIII N     N DDDDDD  EEEEEEE X     X
   I    NN    N D     D E        X   X
   I    N N   N D     D E         X X
   I    N  N  N D     D EEEEEEE    X
   I    N   N N D     D E         X X
   I    N    NN D     D E        X   X
IIIIIII N     N DDDDDD  EEEEEEE X     X
*/

/* --------------- hero section ---------------------------------- 
h     eeeee rrrr   ooo 
h     e     r   r o   o
hhhh  eeee  rrrr  o   o
h   h e     r  r  o   o
h   h eeeee r   r  ooo
*/
.hero-section {
    width: 100%;
    /* height: 30rem; */
    min-height: 85vh;
    background-color: var(--clr-background-dark);
    background: linear-gradient(
            rgba(0,0,0, 0.9),
            rgba(0,0,0, 0.9)  
        ), url('../images/hero-container-photo-mobile.jpg');
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    color:var(--clr-text-light);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
    text-align: left;
    padding: 2em 0;
}
.hero-text-content {
    width: 90%;
    max-width: 38rem;
    margin: 0 auto;
}
.hero-headers-top {
    font-size: 5rem;
    font-weight: 600;
    font-family: var(--font-section__title);
    margin-left: -0.07em;
    line-height: .9;
    animation: sharpen-and-squish 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) .25s both;
}
@keyframes sharpen-and-squish {
    0% {
      letter-spacing: 1em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
.hero-headers-bottom {
    font-size: 2.2rem;
    letter-spacing: .1rem;
    font-family: var(--font-hero-accent);
    animation: sharpen-and-expand 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) .25s both;
}
@keyframes sharpen-and-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
.hero-divider {
    width: 100%;
    max-width: 20em;
    height: .16em;
    background-color: var(--clr-section-divider);
    margin: .5em 0;
}
.hero-mission-statement {
    margin-bottom: .25em;
    font-weight: 300;
    font-family: var(--font-section__title);
    font-size: 1.4rem;
    max-width: 28rem;
}
.hero-grid-photos-container {
    width: 90%;
    margin: 0 auto;
    max-width: 38rem;
}
.hero-photos {
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* max-width: 22rem; */
}

.HP-two, .HP-three, .HP-four {
    display: none;
}

/* ----------- main section INDEX -------------------------------- */

.section__title {
    display: inline-block;
    font-family: var(--font-section__title);
    font-weight: 600;
    font-size: 1.65rem;
    text-transform: uppercase;
    margin: 0 0 2em 0;
    padding: 0 .2em;
    border-right: solid 2px var(--clr-section-divider);
    border-left: solid 2px var(--clr-section-divider);
}
.paragraph-accent-word {
    font-weight: 700;
}

/*-----commitment section----------------------------
 000   000  0   0 0   0 0 00000
0   0 0   0 00 00 00 00 0   0
0     0   0 0 0 0 0 0 0 0   0
0   0 0   0 0   0 0   0 0   0
 000   000  0   0 0   0 0   0
*/
.commitment-section {
    background-color: var(--clr-primary);
    background: linear-gradient(
        #107535da, #107535da ),  
        url('../images/commitments-background-mobile.jpg');
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat; 
    color:var(--clr-text-light);
    padding: 4rem 0;
    min-height: 60vh;
}
.commitment-section_grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 3em;
    max-width: 60rem;
}
.commitment-section__content-containers {
    max-width: 20rem;
}
.commitment-containers__icons {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}
.people-icon {
    width: 3rem;
}
.commitment-containers__headers {
    margin-bottom: .3em;
    font-family: var(--font-accent);
    font-size: 2rem;
    line-height: .8;
    font-weight: 400;
}
.commitment-containers__text {
    font-size: 1.05rem;
}
.commitment-divider-one, 
.commitment-divider-two, 
.commitment-divider-three {
    display: none;
}

/*---------values section ---------------------- 
0   0   0   0     0   0 00000  0000
0   0  0 0  0     0   0 0     0    
 0 0  00000 0     0   0 0000   000
 0 0  0   0 0     0   0 0         0
  0   0   0 00000  000  00000 0000
*/
.values-section__grid {
    width: 100%;
    padding: 0 0;
    display: grid;
    column-gap: 0rem;
    row-gap: 1em;
    grid-auto-columns: 1fr;
    grid-template-rows: 1fr auto 1fr; /*adjust at wider media queries*/
    justify-items: center; 
    grid-template-areas: /*adjust at wider media queries*/
        'image-one image-two'
        'values-text values-text'
        'image-three image-four';
}
.values-images {
    width: 100%;
    
    height: 100%;
    object-fit: cover;
}
.values-image-one-container {   
    grid-area: image-one;
}
.values-image-two-container {
    grid-area: image-two;
}
.values-section__grid__text {
    margin-bottom: 2em;
    grid-area: values-text;
}
.values-image-three-container {
    grid-area: image-three;
}
.values-image-four-container {
    grid-area: image-four;
}
.values-title {
    margin-top: 1.2em;
}
.values-section__grid__text__paragraphs {
    width: 85%;
    max-width: 30em;
    margin-bottom: .8em;
    font-size: 1.05rem;
}
/*
0000   000  0   0   0   00000 00000
0   0 0   0 00  0  0 0    0   0
0   0 0   0 0 0 0 00000   0   0000
0   0 0   0 0  00 0   0   0   0
0000   000  0   0 0   0   0   00000
-----donate & contact section----------------------------*/
.donate-contact-section {
    width: 100%;
    padding: 4rem 0;
    background-color: var(--clr-background-dark);
    background: linear-gradient(
            rgba(0,0,0, 0.85),
            rgba(0,0,0, 0.85)  
        ), url('../images/team-work-hands-mobile.jpg');
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    color: var(--clr-text-light);
}
.donate-contact-section__headers {
    font-family: var(--font-accent);
    font-weight: 400;
    font-size: 1.9rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-bottom: .2em;
}
.donate-contact-section__paragraphs {
    font-size: 1.05rem;
    width: 90%;
    max-width: 51.2rem;
    font-weight: 500;
}
.contact-form__small-print-paragraph {
    width: 90%;
    font-size: .95rem;
    font-weight: 300;
    margin-top: .75em;
}
.donate-container {
    width: 100%;
    padding: 0 0; 
    margin-bottom: 4em;
}
.paypal-button-container {
    margin-bottom: 1em;
}
/*----reach out---------*/
.reach-out-container {
    width: 100%;
    max-width: 51.2rem;
    background-color: #10753552;
    padding: 4em 0 4em 0;
    margin: 0 auto;
}
/*contact form*/
.contact-form {
    width: 90%;
    margin: 3em auto 0 auto;
    text-align: left;
}
.contact-form__input-label-containers {
    margin-top: 1.5em;
}
.contact-form__input-label {
    font-family: var(--font-section__title);
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    align-items: center;
}
.contact-form__input, .contact-form__textarea {
    background-color: transparent;
    color:var(--clr-text-light);
    font-family: var(--font-paragraphs);
    font-size: 1rem;
    font-weight: 300;
}
.form-icons {
    width: 1.2em;
    height: 1.2em;
    margin: 0 .5em 0 0;
}
.contact-form__input {
    width: 100%;
    height: 2em;
    border: hidden;
    padding-left: .3em;
    border-bottom:var(--clr-background-light) solid .1em;
}
.contact-form__checkbox-container {
    display: flex;
    align-items: center;
}
.contact-form__checkboxes {
    /* background-color: transparent;
    border:var(--clr-background-light) solid .1em; */
    margin-right: .75em;

}
.contact-form__textarea {
    resize: none;
    width: 100%;
    height: 8em;
    margin-top: .5em;
    border:var(--clr-background-light) solid .1em;
    padding: .1em 0 0 .3em;
}
.spam-filter {
    margin: 0 50%;
    -webkit-margin-bottom: 1em;
}
.form-submit-button-container {
    margin: 1.5em auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.hidden-form-input {
    display: none;
}

/*----stay connected--------*/
.stay-connected-container {
    margin: 4em auto 1em auto;
    padding: 0 1em;
}
.stay-connected__logo-container {
    width: 100%;
    max-width: 25rem;
    margin: 2.5em auto 0 auto;
    display: flex;
    flex-wrap: nowrap;
    column-gap: 2em;
    justify-content: space-around;
    align-items: center;
}
.stay-connected__link {
    display: block;
}
.stay-connected__images {
    width: 4.5em;
    height: auto;
}
/*
 00000  0000000  00000  000000  0     0
0     0    0    0     0 0     0  0   0
0          0    0     0 0     0   0 0
  0000     0    0     0 000000     0
      0    0    0     0 0   0      0
0     0    0    0     0 0    0     0
 00000     0     00000  0     0    0
*/
.our-story-fixed-background {
    background: linear-gradient(
    #000000be, #000000e7 ),  
    url('../images/zambia-hut-mobile-450.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    position: fixed;
    width: 100vw;
    height: 100vh;
}
.our-story-main-container {
    padding: 0;
    min-height: 100vh;
    top: 0;
}
.our-story-text-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: clamp(20rem, 45vh, 1rem );
    position: fixed;
    z-index: 1;
    padding-top: clamp(1rem, 8vh, 7rem);
}
.text-background {
    font-size: clamp(3rem, 38vw, 27rem);
    opacity: 40%;
    color: var(--clr-text-dark);
    font-family:var(--font-section__title);
    font-weight: 600;
}
.z-index-top {
    position: relative;
    z-index: 10;
}
.our-story-section {
    padding-top: min(15vh, 7rem);
}
.our-story__section-content {
    background-color: #10753583;
    border-radius: 0 0 .75em .75em;
    padding: 1em 1em;
}
.our-story__section-header {
    font-family: var(--font-section__title);
    color:var(--clr-text-light);
    font-weight: 400;
    font-size: clamp(2.2rem, 2vw, 3.6rem);
    text-align: left;
    margin-top: 1em;
    padding: .8em 0 .8em .8em;
    border: solid #10753583 2px;
    border-radius: .75em .75em 0 0;
}
.our-story__section-content p {
    color:var(--clr-text-light);
}
.our-story-content-photos {
    object-fit: cover;
    width: 100%;
    height: auto;
}
.our-story-content__photos-top-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width:90%;
    margin: 1em auto;
}
.photo-three {
    display: none;
}
.our-story-content__photos-bottom-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 1em 0 .5em 0;
    /* gap: 5%; */
}
/*
   A    BBBBBB   OOOOO  U     U TTTTTTT
  A A   B     B O     O U     U    T 
 A   A  B     B O     O U     U    T
AAAAAAA BBBBBB  O     O U     U    T
A     A B     B O     O U     U    T
A     A B     B O     O U     U    T
A     A BBBBBB   OOOOO   UUUUU     T 
*/
.our-team-fixed-background {
    background: linear-gradient(
    #107535be, #107535be ),  
    url('../images/about-us-background-mobile.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    position: fixed;
    width: 100vw;
    height: 100vh;
}
.about-us-main-container {
    padding: 1em 0 0 0;
}
.about-us__section-containers {  
    width: 90%;
    margin: 0 auto;
    max-width: 85rem;
}
.about-us__section-headers {
    font-family: var(--font-section__title);
    color:var(--clr-text-light);
    font-weight: 400;
    font-size: clamp(2.2rem, 2vw, 3.6rem);
    text-align: left;
    margin-top: 1em;
    padding: .8em 0 .8em .8em;
    border: solid var(--clr-background-light) 2px;
    border-radius: .75em .75em 0 0;
}
.about-us__section-content {
    background-color:var(--clr-background-light);
    border-radius: 0 0 .75em .75em;
    padding: 1em 1em;
}
.about-us__section-paragraph {
    padding: .5em 0;
    font-size: .95rem;
}
.about-us__bio-containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 23em;
}
.bio-photo-containers {
    background-color:var(--clr-section-divider);
    border-radius: 50%;
    height: 9em;
    width: 9em;
    margin: 1.5em 0 .75em 0;
    display:flex;
    justify-content: center;
    align-items: center;
}
.bio-photos {
    border-radius: 50%;
    height: 8.25em;
    width: 8.25em;
}
.bio-names, .bio-location {
    font-family:var(--font-section__title);
    font-weight: 400;
}
.bio-location {
    color:var(--clr-primary);
    font-weight: 300;
}
.bio-section-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;

}
/*
0     0 0000000 000000  0000000    0       00000 
00   00 0       0     0    0      0 0     0     0
0 0 0 0 0       0     0    0     0   0    0     0
0  0  0 0000    0     0    0    0000000   0     0
0     0 0       0     0    0    0     0   0 0   0
0     0 0       0     0    0    0     0   00    0
0     0 0000000 000000  0000000 0     0   000000
-----------media queries*/
/*
00000 00000  000 
0     0     0   0
0000  0000  0   0
    0     0 0   0
0000  0000   000
*/
@media only screen and (min-width: 550px) {

    body {
        font-size: 18px;
    }
    .nav__list {
        top: min(15vh, 5rem);
        right: 0; 
        width: 40%; 
    }
    /*-------hero-section-----------------------*/
    .hero-grid-photos-container {
        display: grid;
        row-gap: 1em;
        column-gap: 1em;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
            "HP-one HP-one HP-one HP-two HP-two"
            "HP-three HP-three HP-four HP-four HP-four";
    }
    .HP-two, .HP-three, .HP-four {
        display: inline-block;
    }
    .HP-one {
        grid-area: HP-one;
        -webkit-animation: slide-from-left 1s ease-in .35s both;
        animation: slide-from-left 1s ease-out .35s both;
    }
    @keyframes slide-from-left {
        0% {
            -webkit-transform: translateX(-20em);
                transform: translateX(-20em);
            opacity: 0;
        }
        100% {
            -webkit-transform: translateX(0);
                transform: translateX(0);
            opacity: 1;
        }
      }
    .HP-two {
        grid-area: HP-two;
        -webkit-animation: slide-from-top 1s ease-in .35s both;
        animation: slide-from-top 1s ease-out .35s both;
    }
    @keyframes slide-from-top {
        0% {
            -webkit-transform: translateY(-20em);
                transform: translateY(-20em);
            opacity: 0;
        }
        100% {
            -webkit-transform: translateY(0);
                transform: translateY(0);
            opacity: 1;
        }
      }
    .HP-three {
        grid-area: HP-three;
        -webkit-animation: slide-from-bottom 1s ease-in .35s both;
        animation: slide-from-bottom 1s ease-out .35s both;
    }
    @keyframes slide-from-bottom {
        0% {
            -webkit-transform: translateY(20em);
                transform: translateY(20em);
            opacity: 0;
        }
        100% {
            -webkit-transform: translateY(0);
                transform: translateY(0);
            opacity: 1;
        }
      }
    .HP-four {
        grid-area: HP-four;
        -webkit-animation: slide-from-right 1s ease-in .35s both;
        animation: slide-from-right 1s ease-out .35s both;
    }
    @keyframes slide-from-right {
        0% {
            -webkit-transform: translateX(20em);
                transform: translateX(20em);
            opacity: 0;
        }
        100% {
            -webkit-transform: translateX(0);
                transform: translateX(0);
            opacity: 1;
        }
      }
    /*--- general sections css --------------*/
    .section__title {
        font-size: 2.4rem;
        margin-bottom: 1.5em;
    }
    /*---------commitment section -------------*/
    .commitment-section {
        min-height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    /*------ values section -------------------*/
    .values-section__grid {
        grid-template-rows: .75fr auto .75fr;
    }
    /*--------donate-contact section-----------*/
    .donate-contact-section__title {
        margin-bottom: 1em;
    }
    .donate-contact-section__headers {
        font-size: 2.2rem;
    }
    .reach-out-container__content {
        width: 80%;
        max-width: 40rem;
        margin: 0 auto;
    }
    /*----- FOOTER--------------------------*/
    .footer {
        display: block;
        width: 100%;
    }
    .footer__logo-contact-info-flex-wrapper {
        margin: 0 auto;
        width: 90%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        text-align: right;
    }
    .footer__text {
        margin: .5em 0 .5em 0;
    }
    .developer-tag {
        margin: .4em auto 0 auto;
    }
    /*
    ------our-story------------------------------------------------
    ------our-story------------------------------------------------
    */
    .our-story-fixed-background {
        background: linear-gradient(
        #000000be, #000000e7 ),  
        url('../images/zambia-hut-1080.jpg');
        /* background-position: center;
        background-size:cover;
        background-repeat: no-repeat;
        position: fixed;
        width: 100vw;
        height: 100vh; */
    }
    .our-story-content__photos-top-container {
        max-width: 48em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
            "     .       OS-photo-two      ."
            "OS-photo-one OS-photo-two OS-photo-three"
            "OS-photo-one OS-photo-two OS-photo-three"
            "OS-photo-one       .      OS-photo-three";  
        column-gap: 5%;
    }
    .photo-one {
        grid-area: OS-photo-one;
    }
    .photo-two {
        grid-area: OS-photo-two;
    }
    .photo-three {
        display: inline-block;
        grid-area: OS-photo-three;
    }
}
/*
 000  00000  000 
0   0 0     0   0
 000  0000  0   0
0   0     0 0   0
 000  0000   000
*/
@media only screen and (min-width: 850px) {
    body {
        font-size: 17px;
    }
    /*----hero section ------------------*/
    .hero-section {
        flex-direction: row;
        justify-content: space-around;
        gap: 1em;
        min-height: 75vh;
    }
    .hero-text-content {
        margin-left: 5%;
        max-width: none;
    }
    .hero-grid-photos-container {
        margin-right: 5%;
    }
    /*------commitment section ------------*/
    .commitment-section {
        min-height: 80vh;
    }
    /*------values section ----------------*/
    
    .values-section__grid {
        grid-template-rows: 1fr 1fr; /*adjust at wider media queries*/
        max-height: 48em;
        grid-template-rows : repeat(4, .6fr);
        row-gap: 0;
        grid-template-areas: 
        'values-text image-one'
        'values-text image-two'
        'values-text image-three'
        'values-text image-four';
    }
    .values-title {
        margin-top: 2em;
    }
}
/*
 0000  000   000
0   0 0   0 0   0
00000 0   0 0   0
    0 0   0 0   0
    0  000   000
*/
@media only screen and (min-width: 900px) {
    
    .hero-section {
        background: linear-gradient(
            rgba(0,0,0, 0.9),
            rgba(0,0,0, 0.9)  
        ), url('../images/hero-photo-resized.jpg');
        background-position: top right;
        background-repeat: no-repeat;
        background-size:cover;
    }
    .commitment-section {
        background: linear-gradient(
        #107535da, #107535da ),  
        url('../images/commitments-background.jpg');
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat; 
    }
    .donate-contact-section {
        background: linear-gradient(
            rgba(0,0,0, 0.85),
            rgba(0,0,0, 0.85)  
        ), url('../images/team-work-hands-BW.jpg');
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    }
}
/*
  0    000   000   000
 00   0   0 0   0 0   0
  0   0   0  000  0   0
  0   0   0 0   0 0   0
00000  000   000   000
*/
@media only screen and (min-width: 1080px) {
    body {
        font-size: 19px;
    }
    main {
        /* min-height: 3em; */
        top: clamp(3em, 8vh, 10em);
    }
    /*------HEADER------------------------*/
    .header {
        /* min-height: 3em; */
        height: clamp(3em, 8vh, 10em);
    }
    .header__flex-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 0;
        align-items: center;
        width: 90%;
    }
    .header-hide {
        transform: translateY(-100%);
        transition: transform .3s ease-in-out;
    }
    .header-show {
        transform: translateY(0);
        transition: transform .3s ease-in-out;
    }
    .header-logo-link {
        display: flex;
        align-items: center;
        height: 100%;
        margin-right: 10%;
    }
    .header-logo-link__image {
        width: clamp(5.5em, 6.5vw, 13em);
        height: auto;
    }
    .nav-icon {
        display: none;
    }
    .nav {
        width: 100%;
    }
    .nav__list {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: static;
        gap: 0;
        width: 100%;
        height: auto;
        padding: 0;
        background: none;
        transform: none;
    }
    @supports (backdrop-filter: blur(.2rem)) {
        .nav__list {
            background: transparent;
            backdrop-filter: none; 
        }
    }
    .nav__list__item {
        opacity: 1;
        transition: none ;
    }
    .nav__list__item__link {
        color: var(--clr-text-dark);
        padding: .5em;
        font-size: clamp(.9rem, .8vw, 2.2rem);
        /* white-space: nowrap; */
    }
    .nav__list__item__link:hover, 
    .nav__list__item__link:focus {
        color: var(--clr-primary);
        border-bottom: solid .15em var(--clr-primary);
    }
    .header-donate-button-item {
        order: 5;
    }
    .header-donate-button {
        font-size: clamp(1.4rem, 1.4vw, 3.4rem);
    }
    .header-donate-button:hover, 
    .header-donate-button:focus {
        color:var(--clr-primary);
    }
    
    /* ------ hero section ------------------*/
    .hero-section {
        min-height: 92vh;
        padding: 0;
    }
    .hero-headers-top {
        font-size: min(8vw, 18rem)
    }
    .hero-headers-bottom {
        font-size: clamp(2.2rem, 3.8vw, 10rem)
    }
    .hero-divider { 
        max-width: none;
        width: clamp(30rem, 34vw, 300rem);
    }
    .hero-mission-statement {
        max-width: 42vw;
        font-size: clamp(1.4rem, 2.2vw, 8rem)
    }
    .hero-donate-button, .donate-button {
        font-size: min(2.2vw, 8rem)
    }
    .hero-grid-photos-container {
        max-width: none;
        width: min(70vw, 120em);
        gap: 1vw;
    }
    /*--------- section css-------------------*/
    .section__title {
        font-size: min(3vw, 10rem);
        border-left: .15rem solid var(--clr-section-divider);
        border-right: .15rem solid var(--clr-section-divider);
    }
    .commitment-section {
        min-height: 70vh;
        padding: 15vh 0;
    }
    .commitment-title {
        margin-bottom: 3.5em;
    }
    .values-section__grid {
        max-height: none;
       grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows : repeat(4, .6fr);
        row-gap: 0;
        grid-template-areas: 
        'values-text image-one image-two'
        'values-text image-one image-two'
        'values-text image-three image-four'
        'values-text image-three image-four';
    }
    .values-section__grid__text__paragraphs {
        max-width: none;
        width: 75%;
        font-size: clamp(1rem, 1vw, 3rem);
    }
    .donate-contact-section {
        padding: 15vh 0;
    }
    .stay-connected__logo-container {
        max-width: none;
        width: 20%;
    }
    .stay-connected__images {
        width: clamp(4.5em, 5vw, 8em);
        height: auto;
    }
    /*---- footer----------------------------*/
    .footer__logo-image {
        width: clamp(6.5em, 8.5vw, 18em);        
        height: auto;
    }
    .footer__text {
        font-size: clamp(.7rem, .8vw, 2rem);
        padding: 0;
        margin: 1em 0 1em 0;
    }
    /*-------OUR STORY---------------------------*/
    .our-story-fixed-background {
        background: linear-gradient(
        #000000be, #000000e7 ),  
        url('../images/zambia-hut-desktop-original.jpg');
    }
    .text-background {
        padding-top: clamp(3rem, 12vh, 7rem);
    }
    .our-story__section-content p {
        font-size: 1rem;
    }
    /*--- OUR TEAM PAGE --------------------------------*/
    .our-team-fixed-background {
        background: linear-gradient(
        #107535be, #107535be ),  
        url('../images/tree-background-bw.jpg');
    }
    .about-us__section-paragraph {
        width: 95%;
    }
}
/*
  0   0  0  0  0   000
 00   0  0  0  0  0   0
  0   00000 00000 0   0
  0      0     0  0   0
00000    0     0   000
*/
@media only screen and (min-width: 1220px) {
    .commitment-section_grid-wrapper {
        max-width: none;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "reach reach D1 inspire inspire D2 support support D3 equip equip"
        "reach reach . inspire inspire . support support . equip equip";
        align-items: start;
        justify-items: center;
        gap: 0;
    }
    .commitment-divider-one,
    .commitment-divider-two,
    .commitment-divider-three {
        display: inline-block;
        background-color: var(--clr-section-divider);
        width: min(6vw, 12em);
        height: .15rem;
        margin-top: 3.5vw;
        /* align-self: center; */
    }
    .reach-grid-area {
        grid-area: reach;
    }
    .commitment-divider-one {
        grid-area: D1;
    }
    .inspire-grid-area {
        grid-area: inspire;
    }
    .commitment-divider-two {
        grid-area: D2;
    }
    .support-grid-area {
        grid-area: support;
    }
    .commitment-divider-three {
        grid-area: D3;
    }
    .equip-grid-area {
        grid-area: equip;
    }
    .commitment-section__content-containers {
        max-width: none;
    }
    .commitment-containers__icons {
        width: min(2.5vw, 6rem);
        height: min(2.5vw, 6rem);
    }
    .people-icon {
        width: min(3.6vw, 9rem);
       
    }
    .commitment-containers__headers {
        font-size: clamp(2.2rem, 2.4vw, 8rem);
    }
    .commitment-containers__text {
        font-size: clamp(1rem, 1vw, 3rem);
    }
    /*----- donate-contact section-----------*/
    .donate-contact-section__paragraphs {
        font-size: min(1vw, 3rem);
        max-width: none;
        width: 45%;
    }
    .donate-contact-section__headers {
        font-size: min(2.2vw, 8rem)
    }
    .reach-out-container {
        max-width: none;
        width: 45%;
    }
    .reach-out-container__content {
        width: 80%;
        max-width: none;
    }
    .reach-out-paragraph {
        width: 90%;
    }
    .contact-form__small-print-paragraph {
        font-size: clamp(.8rem, .8vw, 1.7rem);
    }
    .contact-form__input-label {
        font-size: clamp(.9rem, .9vw, 1.9rem);
    }
    .contact-form__input {
        height: clamp(2em, 1.8vw, 3em);
        border-bottom:var(--clr-background-light) solid clamp(.1em, .2vw , .16em);
        font-size: clamp(.9rem, .9vw, 1.9rem);
    }
    .contact-form__checkboxes {
        height: clamp(15px, .8vw, 34px);
        width: clamp(15px, .8vw, 34px);
    }
    .contact-form__textarea {
        height: clamp(8em, 10vw, 28em);
        border:var(--clr-background-light) solid clamp(.1em, .2vw , .16em);
        font-size: clamp(.9rem, .9vw, 1.9rem);
    }
}
/*
 000   000   000   000 
0   0 0   0 0   0 0   0
   0  0   0 0   0 0   0
  0   0   0 0   0 0   0
00000  000   000   000
*/
@media only screen and (min-width: 2000px) {
    main {
        /* min-height: 3em; */
        top: clamp(4.8em, 8vh, 10em);
    }
    .header {
        /* min-height: 3em; */
        height: clamp(4.8em, 8vh, 10em);
    }
}